* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    font-weight: 900;
}

main {
    margin: 2%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: all .2s linear;
}

.photosFIL {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .apercu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        .imageFIL {
            grid-area: 1/1/6/6;
            padding: 10px;
            border-radius: 40px;
        }
        .txtimg {
            grid-area: 3/1/1/4;
        }
    }
}

.photosIV {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imgIV {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    .imageIV {
        grid-area: 1/1/11/6;
        padding: 10px;
        border-radius: 40px;
    }
    .txtimgIV {
        grid-area: 9/1/11/6;
        color: white;
    }
}